@media screen and (min-width: 980px)  {
    .promo {
        background-color: #1a1915;;
    }
    
    .wrap {
        background-image: url('../img/img.png');
        background-size: cover;
        background-position: center;
    }

    .header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 56px;
    }

    .container {
        width: 980px;
        min-width: 980px;
    }

    .part {
        min-width: 980px;
        width: 980px;
        margin: 0 auto;
    }

    .title {
        font: 700 52px 'Montserrat', sans-serif;
    }

    .header [class*="col-"]:nth-child(1), 
    .header [class*="col-"]:nth-child(2) {
        margin-top: 0px;
    }
    
    .top-title {
        margin: 0;
    }

    .top-title [class*="title"] {
        padding: 0;
        margin: 158px 0 38px;
    }

    .top-title [class*="subtitle"] {
        padding: 0;
        margin: 0;
    }

    .top-button [class*="button"] {
        margin: 34px 0 234px;
    }

    .top-content [class*="title-black"] {
        margin: 70px 0 0;
    }
    
    .top-article [class*="col-"]:nth-child(n+1) {
        margin-top: 32px;
        padding: 0;
        flex-basis: 23%;
    }
    
    .top-article [class*="col-"]:nth-child(n+3) {
        margin-top: 32px;
        padding: 0;
        flex-basis: 23%;
    }

  
}