
.logo, .link, .title, .subtitle, .button {
    color: #ffffff;
}

.name, .title-black {
    color: #333333;
}

.promo {
    background-color: #1a1915; 
}
.wrap {
    background-image: url('../img/img1m.png');
    background-size: cover;
    background-position: center;
}

.container {
    padding: 32px 14px 140px; 
    min-width: 320px;
    margin: 0 auto;
    width: 100%;    
}

.logo {
    font: 700 20px 'Montserrat', sans-serif;
    text-decoration: none;
}

.menu{
    display: flex;
    justify-content: center;
    margin-bottom: 130px;
}

.item {
    list-style: none;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    padding: 11px 23px;
    font: 700 14px 'Montserrat', sans-serif;
}

.link:hover {
    border: 2px solid #ffffff;
    border-radius: 40px;
}

.title {
    text-transform: uppercase;
    margin: 40px 0px 0px;
    font: 700 30px 'Montserrat', sans-serif;
}

.subtitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 22px 34px 20px;
    font: 400 18px 'Roboto', serif;
    text-transform: none;
}

.button {
    display: inline-block;
    height: 40px;
    width: 282px;
    border-radius: 19px;
    background-color: #ff4e50;
    border: 2px solid #ff4e50;
    font: 700 14px 'Montserrat', sans-serif;
}

section {
    background-color: #ffffff;
}

.part {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding: 70px 20px 57px;
}

.title-black {
    font: 700 21.98px 'Montserrat', sans-serif;
    margin-bottom: 21px;
}

.section {
    margin: 21px 32px 32px;
}

.name {
    font: 700 13.97px 'Montserrat', sans-serif;
    margin-bottom: 15px;
}

.lorem {
    font: 400 13.97px 'Roboto', serif;
    color: #666666;
}

.shop { 
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: auto;
    width: 124px;
    height: 124px;  
}

img {
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: relative;
}

.circle {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 41px;
    width: 41px;
}

.tv {
    background: url('../icon/icon2-1.png');
}

.flask {
    background: url('../icon/icon2-2.png');
}

.coffee {
    background: url('../icon/icon2-3.png');
}

.letter {
    background: url('../icon/icon2-4.png');
}

.grafic {
    height: 16px;
    width: 16px;
    margin: auto;
}

.grafic1 {
    background: url('../icon/icon3-1.png') center;
}

.grafic2 {
    background: url('../icon/icon3-2.png') center;
}

.grafic3 {
    background: url('../icon/icon3-3.png') center;
}

.grafic4 {
    background: url('../icon/icon3-4.png') center;
}

.button-red {
    color: #ff4e50;
    background-color: #ffffff;
}
















