
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background: #ccf url(../img/newimgs.jpg) no-repeat center center;
    background-size: cover;
    margin: 240px 37px 542px;
}

.wrapper {
    width: 480px;
    margin: auto;
    background-color: white;
}

.imgpage {
    display: block;
    background-image: url(../img/picture.jpg);
    height: 100px;
    width: 406px;
    text-align: center;
    margin: 0px 37px 3px;
}


.boxfirst {
    color: #263555;
    font-family: 'Pathway Gothic One';
    font-size: 25px;
    margin: 0px 37px 33px;
    padding-top: 59px;
    border: 5px;
    outline: 5px;
}

.boxsecond {
    color: #263555;
    font-family: 'Pathway Gothic One';
    font-size: 25px;
    margin: 51px 37px 4px;
    border: 5px;
    outline: 5px;
}

.boxthird {
    color: #263555;
    font-family: 'Pathway Gothic One';
    font-size: 25px;
    margin: 54px 37px 0px;
    border: 5px;
    outline: 5px;
}

.subtitle {
    color: #263555;
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 25px 37px 15px;
}

.text-one {
    color: #4e5050;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 7px 37px 0px;
} 

.text-two {
    color: #4e5050;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0px 37px 25px;
}

.text-three {
    color: #4e5050;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0px 37px 54px;
}

.text-four {
    color: #4e5050;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0px 37px 38px;
}

.line {
    margin-left: 37px;
    margin-right: 37px;
    background-color: #dedbdb; 
    height: 2px;
    width: 406px;
}
.ul {
    list-style: none;
    margin-bottom: 30px;
    padding-bottom: 43px;
}

.ul-li {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    padding-left: 55px;
    margin: 19px 0px 0px;
    color: #4e5050;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}




