  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  img, .image-gallery, .image-preview {
    display: block;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .fullview, .image-gallery, .preview {
    border-radius: 3px;
    box-shadow: 0 0 3px 3px rgb(218, 212, 212);
  }

  .fullview {
    margin-bottom: 6px;
  }

  .preview{
    display: flex;
    list-style: none;
  }
  
  .image-gallery {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
    
  .image-preview {
    width: 100%;
  }
  
