.clearfix::after {
    display: block;
    content: '';
    clear: both;
}

.logo{
    display: inline-block;
    float: left;
    background-color: #ffffff;
    color: #555252;
    height: 74px;
    width: 256px;
    line-height: 22px;
    padding: 38px 566px 34px 246px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.logo:first-letter {
    color:  #1abc9c;
    font-weight: bold;
}

.menu {
    /* outline: 2px solid forestgreen; */
    float: right;
    list-style: none;
    padding: 42px 246px 40px 0px;
    color: #0f0101;
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif;

}

.menu-item:first-child {
    color: #1abc9c;
}

.menu-item:last-child {
    margin-right: 0px;

}
.menu-item {
    float: left;
    margin-right: 30px;
    line-height: 10px;
}

.gallery-body {
    outline: 2px solid orange;
}

.gallery-item {
    float: left;
    position: relative;
    width: 100%;

}

.gallery-img {
    display: block;
    width: 1600px;
    height: 600px;
}

.gallery-caption {
    position: absolute;
    top: 220px;
    left: ;
    /* text-align: center; */
}




/* new collection */

.title-coll {
    outline: 2px solid darkslateblue;
    background-color: #e9f0fd;
    width: 1600px;
    float: left;
}

.title-new {
    float: left;
    outline: 2px solid red; 
}

.title {
    padding: 102px 610px 120px;
    color: #515151;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px; 
    float: left;
    width: 1600px;
}

.line {
    position: absolute;
    left: 50%;
    top: 50%
    weight: 160px;
    transform
}

/* collection */
.collection-title {
    float: left;
}

.collection-section {
    outline: 2px solid gold; 
    float: left;
    margin-right: 30px;
}
.collection-section:last-child {
    outline: 2px solid purple;
    margin-right: 0px;
}

.blue-tshirt {
    float: left;
}

.woman shirt {
    float: left;
}

.yellow-tshirt {
    float: left;
}

.cool lingerie {
    float: left;
}



/* footer */

.footer-one {
    outline: 2px solid fuchsia;
    float: left;
}



.footer-title {
    outline: 2px solid green;
    float: left;
    background-color: #323232;
    padding: 38px 608px 30px 596px;
    line-height: 20px;
    color: #ffffff; 
    width: 1600px;
    font-family: Arial, Helvetica, sans-serif;
}


