@media screen and (min-width: 980px)  {
    /* .promo {
        background-color: #1a1915;;
    } */
    .wrap {
        background-image: url('../img/img.png');
        background-size: cover;
        background-position: center;
    }

    header {
        margin: 0px 0px 158px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .menu{
        margin-bottom: 0px;
    }

    .container {
        padding: 56px 20px 234px;
        width: 980px;
        min-width: 980px;
    }
    
    .part {
        min-width: 980px;
        width: 980px;
        padding: 70px 20px 74px;
    }

    .title {
        margin: 0px 208px;
        font: 700 52px 'Montserrat', sans-serif;
    }

    .subtitle {
        margin: 38px 0px 34px;
    }

    .article {
        display: flex;
        justify-content: space-between;
    }

    .section {
        margin: 20px 0px 40px;
    }

    .column {
        flex-basis: 22.5%;
    }

    .title-black {
        margin-bottom: 32px;
    }
    .article > .column-a {
        order: 1;
    }

    .article > .column-c {
        order: 1;
    }
}